<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Karyawan</title>
</head>
<body>
    
</body>
</html>
<!-- Modal -->
<div class="modal fade" id="Detail1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" href="">x</button>
                <h4 class="modal-title">Detail Data Pegawai</h4>
            </div>
            <div class="col-md-12">
                <div class="modal-body">
                    <label class="col-md-4">NIK</label>
                    <span class="col-md-8">: 000001</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Nama</label>
                    <span class="col-md-8">: Andri Tes</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Tempat Tanggal Lahir</label>
                    <span class="col-md-8">: Purwakarta, 8 Februari 1987</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">No. HP</label>
                    <span class="col-md-8">: 081289980110</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Jenis Kelamin</label>
                    <span class="col-md-8">: Perempuan</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Agama</label>
                    <span class="col-md-8">: Islam</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Gol. Darah</label>
                    <span class="col-md-8">: AB</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Status Pernikahan</label>
                    <span class="col-md-8">: Nikah</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Alamat</label>
                    <span class="col-md-8">: Desa Mujurujak RT. 02/03 Jeruklegi kulon, Cilacap Barat, Cilacap</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Alamat Tinggal Sekarang</label>
                    <span class="col-md-8">: Desa Mujurujak RT. 02/03 Jeruklegi kulon, Cilacap Barat, Cilacap</span>
                </div>
                <br />
                <div class="modal-body">
                    <label class="col-md-4">Status Kepegawaian</label>
                    <span class="col-md-8">: Tetap</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Jabatan</label>
                    <span class="col-md-8">: Manager</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Informasi Bank</label>
                    <span class="col-md-8">: BRI-700023413948433</span>
                </div>
                <div class="modal-body">
                    <label class="col-md-4">Divisi</label>
                    <span class="col-md-8">: Staff Perencanaan Dan Keuangan</span>
                </div>
            </div>
            <div class="modal-footer">
                 
            </div>
        </div>
    </div>
</div>